
.header-image img {
    width: 100%;
    height: fit-content;
    display: block;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    padding: 20px;
}

h1, h2 {
    color: #444;
}

h1 {
    text-align: center;
}

.infographic {
    text-align: center;
    padding: 20px;
    background: #f4f4f4;
    margin: 20px 0;
}

.labels-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.wine-label {
    margin: 0 10px;
    max-width: 180px;
    height: auto;
}

figcaption {
    text-align: center;
    font-size: 0.8em;
    color: #555;
}
.wine-15{
    margin: 0 10px;
    max-width: 200px;
    height: auto;
}
.chart-section {
    padding: 100px;
    text-align: center;
}
